# CocoaPods
Pods

# OS X
.DS_Store
.AppleDouble
.LSOverride

# Xcode
build/
*.pbxuser
xcuserdata/
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# MAM SDK
Frameworks/
Tools/
Data/
